


.back{

  background-size:cover;
  background-position: center;
  background-color:#898121;
  
  height:736px;
  

}
.back2{

  background-size:cover;
  background-position: center;
  /* background-color: #BEF0CB; */
  background-color: #898121;

  
  

}

.c{
  background-color:#4C4B16;
  margin-top:30px;
  opacity: 0.8;

}
.style_com{
  align-items: center;
  justify-content: center;

}

.text-box{
  border-radius:22px;
}

.textc{
  color: aliceblue;
  font-family: 'Shantell Sans', cursive;

}

.but{
  opacity: 0.8;
  align-items: center;
  justify-content: center;
}
.button{
  background-color: #E7B10A;
}
